body {
	overflow: hidden;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

#footer {
	position: fixed;
	bottom: 5px;
	width: 100%;
}
.checkmark {
	background-image: url("check.png");
	background-position: center center;
	background-repeat: no-repeat;
	width: 41px;
	height: 41px;
	margin: 0 auto;
}

.emphasized {
	color: #41D7AC !important;
}
#top-container {
	padding-left: 0;
	background: #f4f4f4;
}

#content {
	background: #fff;
	margin: 150px auto;
	max-width: 1698px;
}

#content section {
	text-align: center;
	max-width: 1180px;
	margin: 0 auto;
	padding: 48px 40px 0;
}

#content section p {
	color: #000;
	font-size: 16px;
	max-width: 32em;
	opacity: .5;
	line-height: 1.7em;
	margin: 0 auto;
	padding: 0 0 20px 0;
}

#content section span {
	font-size: inherit;
	text-transform: none;
	font-weight: bolder;
}

.spacer-small {
	margin-bottom: 16px;
}

.spacer-large {
	margin-bottom:25px;
}

input {
	outline: none;
}
input.button {
	min-width: 248px;
	background-color: #41D7AC;
	border-radius: 17px;
	text-decoration: none;
	padding: 8px 17px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	border:none;
	-moz-transition: color 0.2s ease-in,background 0.2s ease-out;
	-o-transition: color 0.2s ease-in,background 0.2s ease-out;
	-webkit-transition: color 0.2s ease-in,background 0.2s ease-out;
	transition: color 0.2s ease-in,background 0.2s ease-out;
}
input.button:hover {
	background-color: #29CC9E;
}

input.text {
	min-width: 248px;
	font-size: 14px;
	padding: 8px 17px;
	border: 2px solid #EDEDED;
	border-radius: 17px;
	
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.errors {
	color: #D0021B;
	opacity: 0.5;
}

/*footer ul li a, footer ul li a:visited {
	color: #838383;
	text-decoration: none;
	padding: 5px 0;
	margin: 0 5px;
	display: block;
	border-bottom: 2px solid transparent;
	display: block;
	margin-bottom: -2px;
	position: relative;
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
}*/
