<!DOCTYPE HTML>
<html>
  <head>
		<title>Reset Password &ndash; Hello</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="/static/base.css">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="stylesheet" type="text/css" href="/static/pure.min.css">
		
		<script src="//use.typekit.net/mxr4prq.js"></script>
  </head>
  <body>
		<div id="content">
			{% include 'header.html' %}
			<section>
			  {% block content %}{% endblock %}
			</section>
		</div>
	</body>
</html>