<div id="footer">
  <footer class="pure-g animated fadeInUp" data-velocity="-.15">
    <div class="pure-u-sm-1-1 pure-u-md-1-2 pure-u-1-2 left">
      <ul>
        <li class="copyright"><em></em>Hello &copy; 2015</li>
        <li class="middot">&middot;</li>
      </ul>
    </div>
    <div class="pure-u-sm-1-1 pure-u-md-1-2 pure-u-1-2 right">
      <ul>
        <li><a class="internal" target="_blank" class="external twitter" href="//twitter.com/hello" title="Hello on Twitter">Twitter</a></li>
        <li><a class="internal" target="_blank" class="external instagram" href="//instagram.com/hello" title="Hello on Instagram">Instagram</a></li>
        <li><a class="internal" target="_blank" class="external facebook" href="//www.facebook.com/helloincorporated" title="Hello on Facebook">Facebook</a></li>
      </ul>
    </div>
  </footer>
  <div class="clear"></div>
</div>