<div id="top-container">
  <div class="background">
    <header class="pure-g animated top-nav fadeInDown">
      <div class="pure-u-sm-1-1 pure-u-3-24 logo animated fadeInDown main-navigation dark-nav">
        <a href="/" title="Hello"><h1>Hello</h1></a>
      </div>
      <div class="pure-u-sm-1-1 pure-u-21-24 nav">
        <ul>
            <li><a class="dark-nav-text" href="//hello.is/features" title="Learn about Sense features">Features</a></li>
            <li><a class="dark-nav-text" href="//hello.is/technology" title="Everything inside and outside of Sense">Technology</a></li>
            <li><a class="dark-nav-text" href="//hello.is/design" title="Design is more than just looks">Design</a></li>
            <li><a class="dark-nav-text" href="//hello.is/sleep" title="Learn why we care about sleep">Why Sleep?</a></li>
            <li><a class="dark-nav-text" href="//hello.is/about" title="Learn more about Hello">About us</a></li>
            <li><a class="dark-nav-text last order" href="//order.hello.is" title="Order Sense now">Order $129</a></li>
        </ul>
      </div>
    </header>
  </div>
</div>

<div id="header"></div>
<div class="clear"></div>