{% extends "base.html" %}
{% block content %}
		<h2>Forgot Password</h2>
		<p>Enter the email address you used to sign up and we'll send you a link to reset your password.</p>
    {% from "_formhelpers.html" import render_field %}
    <form method="post" action="/reset">
        <dl>
            {{ render_field(form.email, placeholder="name@example.com", class="text") }}
        </dl>
				<div class="spacer-large"></div>
        <input type="submit" value="Reset Password" class="button" />
    </form>
{% endblock %}